$secondary              : #F4F9FB;
$primary                : #008ECC;
$success                : #499A3D;
$input-group-addon-bg   : $primary;
$input-group-addon-color: white;
$box-shadow             : 0 .5rem 1rem rgba($primary, .15);