*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.contain{
    /* display: flex; */
    padding: 30px;
    box-shadow: 5px 10px 18px #bebebe;
    border-radius: 10px;
    width: 100%;
}
.contai-1{
    width: 45%;
    margin-top: 45px;
    margin-left: 80px;
}
.contai-1 h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.contai-1 h1{
   margin: 15px 0px 20px 0px;
   font-size: 34px;
}
input.input-name {
    /* margin: 20px 10px 20px 0px; */
    padding: 20px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #bebebe;
    outline: 0;
}
input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
input[type="text"]:focus {
    border-color: #008ECC ;
    box-shadow: 0 0 8px 0 #008ECC ;
}
input[type="password"]:focus {
    border-color: #008ECC ;
    box-shadow: 0 0 8px 0 #008ECC ;
}
.chck{
    display: flex;
    justify-content: space-between;
}
.Remember{
    display: inline;
}
.Forgot{
    margin-top: 6px;
}
.but{
    margin: 17px 10px 22px 0px;
    padding: 17px;
    width: 100%;
    font-size: 22px;
    border-radius: 6px;
    background-color: #008ECC;
    border: 0;
    color: white;
}
.but:hover{
    background-color:rgb(245, 245, 245) ;
    color:#008ECC ;
    transition: 0.3s;
}
.fee-1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #008ECC;
}
.contain-2{
    margin: 45px 62px 0px 62px;
    width: 30%;
}
.contain-2 h1{
    margin-bottom: 10px;
    font-size: 34px;
    margin: 15px 0px 20px 0px;
}
.contai-2 h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.btn-login{
    margin: 27px 0px 5px 0px;
    /* width: 274px;
    height: 55px; */
    font-size: 16px;
    border-radius: 6px;
    border: 0;
    border: 1px solid #bebebe;
    display: inline;
    
}
.btn-login i.icon-1{
    padding: 10px;
    font-size: 32px;
    color: #008ECC;
    /*position: absolute;
    left: 1059px;
    top: 345px;*/
}
.btn-login i.icon-2{
    padding: 10px;
    font-size: 32px;
    color: #008ECC;
    /*position: absolute;
    left: 1059px;
    top: 434px;*/
}
.btn-login i.icon-3{
    padding: 10px;
    font-size: 32px;
    color: #008ECC;
    /*position: absolute;
    left: 1059px;
    top: 520px;*/
}
.btn-login i.icon-4{
    padding: 10px;
    font-size: 32px;
    color: #008ECC;
    /*position: absolute;
    left: 1059px;
    top: 607px;*/
}
