@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.top-bar{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #F4F9FB;
}
.nav-items a{
    padding-left: 30px;
    text-decoration: none;
    color: black;
}
.nav-items a i{
    color: #008ECC;
}
.top-bar p{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.top-bar .nav-items{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}