<div class="card p-item overflow-hidden">
    <div class="p-discount bg-primary text-white p-1">
        <small>{{percen}} <br> OFF</small>
    </div>
    <a href={{link}} class="text-decoration-none">
        <div class="product-img p-2">
            <img src={{image}} class="w-100 h-100" alt="product 1">
        </div>
        <div class="card-body p-2">
            <h6 class="card-title text-decoration-underline">{{title}}</h6>
            <p class="card-text">
                <span class="text-primary fw-bold">{{price}}</span> | <del>{{pDiscount}}</del>
            </p>
            <hr>
            <h6 class="fw-bold text-success">{{saving}}</h6>
        </div>
    </a>
</div>