<div class="container py-2  flex-wrap gap-2 list-d-menu d-none d-md-flex">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle text-white rounded-pill py-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Groceries
        </button>
        <ul class="dropdown-menu border-0 bg-secondary dropdown-menu-primary py-0">
            <li><a class="dropdown-item" href="#">item 1</a></li>
            <li><a class="dropdown-item" href="#">item 2</a></li>
            <li><a class="dropdown-item" href="#">item 3</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle rounded-pill py-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Premium Fruits
        </button>
        <ul class="dropdown-menu border-0 bg-secondary dropdown-menu-secondary py-0">
            <li><a class="dropdown-item" href="#">item 1</a></li>
            <li><a class="dropdown-item" href="#">item 2</a></li>
            <li><a class="dropdown-item" href="#">item 3</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle rounded-pill py-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Home & Kitchen
        </button>
        <ul class="dropdown-menu border-0 bg-secondary dropdown-menu-secondary py-0">
            <li><a class="dropdown-item" href="#">item 1</a></li>
            <li><a class="dropdown-item" href="#">item 2</a></li>
            <li><a class="dropdown-item" href="#">item 3</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle rounded-pill py-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Fashion
        </button>
        <ul class="dropdown-menu border-0 bg-secondary dropdown-menu-secondary py-0">
            <li><a class="dropdown-item" href="#">item 1</a></li>
            <li><a class="dropdown-item" href="#">item 2</a></li>
            <li><a class="dropdown-item" href="#">item 3</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle rounded-pill py-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Electronics
        </button>
        <ul class="dropdown-menu border-0 bg-secondary dropdown-menu-secondary py-0">
            <li><a class="dropdown-item" href="#">item 1</a></li>
            <li><a class="dropdown-item" href="#">item 2</a></li>
            <li><a class="dropdown-item" href="#">item 3</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle rounded-pill py-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sports, Toys & Luggage
        </button>
        <ul class="dropdown-menu border-0 bg-secondary dropdown-menu-secondary py-0">
            <li><a class="dropdown-item" href="#">item 1</a></li>
            <li><a class="dropdown-item" href="#">item 2</a></li>
            <li><a class="dropdown-item" href="#">item 3</a></li>
        </ul>
    </div>
    
</div>