<footer class="bg-primary text-white py-3">
    <div class="container mt-md-4">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <img src="assets/logo-white.png" alt="logo">
                <h5 class="mt-3">Contact Us</h5>
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp fs-4"></i> <p class="ms-2">Whats app <br> +855 11 71 32 50</p> </li>
                    <li class="d-flex align-items-center"><i class="fa-solid fa-phone-volume fs-4"></i> <p class="ms-2">Call Us <br> +855 11 71 32 50</p> </li>
                </ul>
                <address>
                    <i class="fa-solid fa-map-location-dot"></i> Address: No. 59 Street 242, Daun Penh, Phnom Penh, Cambodia
                </address>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5>
                    <span style="border-bottom: 2px solid #fff;">
                        Most Popular Categories
                    </span>
                </h5>
                <ul class="ps-2">
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Staples</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Beverages</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Personal Care</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Home Care</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Baby Care</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Vegetables & Fruits</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Snacks & Foods</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Dairy & Bakery</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5>
                    <span style="border-bottom: 2px solid #fff;">
                        Customer Services
                    </span>
                </h5>
                <ul class="ps-2">
                    <li class="py-1">
                        <a href="about.html" class="text-white text-decoration-none py-1">About Us</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Terms & Conditions</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">FAQ</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Privacy Policy</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">E-waste Policy</a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="text-white text-decoration-none py-1">Cancellation & Return Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>