<nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
        <div class="dropdown-center">
            <button type="button" class="btn border-0 text-primary bg-opacity-25 btn-nav" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false"><i class="fa-solid fa-bars fs-4"></i></button>
            <ul class="dropdown-menu py-0 shadow border-0">
                <li class="position-relative">
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-mobile-screen-button"></i> Mobile</a>
                    <div class="sub-menu p-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <h6>Mobile Phones</h6>
                                <ul class="m-0 ps-3">
                                    <li>
                                        <a href="#">Android Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">iPhones</a>
                                    </li>
                                    <li>
                                        <a href="#">Feature Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">Feature Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">Refurbished Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">8GB RAM</a>
                                    </li>
                                    <li>
                                        <a href="#">5G Phones</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h6>Featured Accessories</h6>
                                <ul class="m-0 ps-3">
                                    <li>
                                        <a href="#">Wireless Chargers</a>
                                    </li>
                                    <li>
                                        <a href="#">Car Chargers</a>
                                    </li>
                                    <li>
                                        <a href="#">Lenses</a>
                                    </li>
                                    <li>
                                        <a href="#">Adapters & Converters</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-person-dress"></i> Cosmetics</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-car-battery"></i> Electronics</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-chair"></i> Furniture</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#"><i class="bi bi-watch"></i> Watches</a>
                </li>
                <li class="position-relative">
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-ellipsis"></i> Accessories</a>
                    <div class="sub-menu p-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <h6>Mobile Phones</h6>
                                <ul class="m-0 ps-3">
                                    <li>
                                        <a href="#">Android Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">iPhones</a>
                                    </li>
                                    <li>
                                        <a href="#">Feature Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">Feature Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">Refurbished Phones</a>
                                    </li>
                                    <li>
                                        <a href="#">8GB RAM</a>
                                    </li>
                                    <li>
                                        <a href="#">5G Phones</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h6>Featured Accessories</h6>
                                <ul class="m-0 ps-3">
                                    <li>
                                        <a href="#">Wireless Chargers</a>
                                    </li>
                                    <li>
                                        <a href="#">Car Chargers</a>
                                    </li>
                                    <li>
                                        <a href="#">Lenses</a>
                                    </li>
                                    <li>
                                        <a href="#">Adapters & Converters</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">
            <img src="./assets/logo.png" alt="logo" class="w-100">
        </a>
        <ul class="navbar-nav m-auto d-none d-md-block">
            <li class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="search" class="form-control i-search"
                    placeholder="Search essentials, groceries and more ..." aria-label="search">
                <span class="input-group-text"><i class="bi bi-list-ul"></i></span>
            </li>
        </ul>
        <div class="d-none d-md-block">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-md-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html"><i
                            class="fa-regular fa-user text-primary"></i> Sign Up/ Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fa-solid fa-cart-shopping text-primary"></i>
                        Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>