<nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
        <button type="button" class="btn btn-primary py-1 text-white bg-opacity-25 btn-nav"><i class="fa-solid fa-bars fs-3"></i></button>
        <a class="navbar-brand" href="#">
            <img src="./assets/logo.png" alt="Bootstrap">
        </a>
        <ul class="navbar-nav m-auto">
            <li>
                <input type="search" class="form-control i-search rounded-pill" placeholder="Search essentials, groceries and more ..." aria-label="search">
            </li>
        </ul>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html"><i class="fa-regular fa-user text-primary"></i> Sign Up/ Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fa-solid fa-cart-shopping text-primary"></i> Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>