<div class="container-md welcome-top">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center align-items-md-start p-2">
        <p class="mb-1 mb-md-0">Welcome to worldwide Megamart</p>
        <div class="d-flex gap-2">
            <p class="mb-0"><i class="text-primary fa-solid fa-map-pin"></i> Delivery to 12002</p>
            <p class="mb-0"><i class="text-primary fa-solid fa-truck"></i> Track your order</p>
            <p class="mb-0"><i class="text-primary bi bi-journal-medical"></i> All offer</p>
        </div>
    </div>
</div>